<div class="hero-unit" catch-scroll ng-controller="MainCtrl">
    <header ng-mouseover="show_try()" ng-mouseleave="hide_try()" id="header">
        <h1>
            <ahref="#">Rinse.io</a>
        </h1>
        <h2>
            <a id="link-try" href="#" style="opacity: {{try_opa}};" ng-class="{ 'hide-link-try' : ( try_opa <= 0 ) }">We tell stories behind photography</a>
        </h2>
    </header>
    <h2>Window top position: {{ top_pos }}</h2>
    <h2>Window left position: {{ left_pos }}</h2>
    <ul>
      <li ng-repeat="thing in awesomeThings">{{thing}}</li>
    </ul>
</div>